<layout name="layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">City(Town)：</td>
                <td>
                	<input type="radio" name="get_City" value="是" <?php if($data['get_City'] == '是') echo 'checked="checked"'; ?> />是 
                	<input type="radio" name="get_City" value="否" <?php if($data['get_City'] == '否') echo 'checked="checked"'; ?> />否 
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
</script>